<% title "Forkers by #{@kind}" %>

<% @kinds.each do |kind| %>
  <%= link_to_unless_current kind, forkers_path(:kind => kind) %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th><%= @kind %></th>
  </tr>
  <% @groups.each_with_index do |group, i| %>
    <tr>
      <td><%=h Forker.find(group.first) %></td>
      <td><%=h group.last %></td>
    </tr>
  <% end %>
</table>

